body{
 font-family: "The Seasons", "Times New Roman", serif;
}

h1 {
    text-align: center;
}
 /* membuat foto di tengah */
.gambar {
    display: flex;
    align-items: center;
    justify-content: center;
}
img{}

.teksbiodata {
    text-align: justify;
}